/*addPages.css*/

h4{
	margin-top: 50px;
	margin-bottom: 50px;
}

.frame {
	width: 60%;
	margin: 0 auto;
	padding: 1%;
    border-radius: 10px;
}

.add_page_form {
	margin-top: 10%;
}

.center-elem-form {
	margin: 0 auto;
	text-align: center;	
}

.field {
	width: 60%;
}

.validate-btn {
	width: 30%;
}


