.line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.line .left .content-container, .line .right .content-container {
    display: flex;
    height: 80%;
}
.line .cardBottom .left .content-container, .line .cardBottom .right .content-container {
    height: 72%;
}

.cardTop, .cardBottom{
    width: 33%;   
    margin-top: 25px;
    border-radius: 10px;
}
.cardTop {
    height: 350px;
}
.cardBottom {
    height: 250px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn-container.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}
.column-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.center-elem-form {
    margin: 0 auto;
    text-align: center;
}

.buttonConnect {
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonAjouter {
    width: 30%;
    margin: 5%;
}
.buttonMatch {
    width: 100%;
    margin: 5%;
}

