<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>S'identifier</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link rel="stylesheet" href="../css/styleIdentification.css">
</head>
<body>

<div class="container" id="mainBlock">
	<!-- Page Content goes here -->

	 <form action="/organisation.php">
	 
		<div class="row" id="rectangle">

			<div class="col s4 offset-s4">
				<span class="flow-text" id="title">Connexion</span>
			</div>

			<div class="col s10 ">

				<div class="col s4 offset-s2 align-center">
					<span class="flow-text">Nom :</span>
				</div>
				<div class="col s6">
					<input type="text" name="login" placeholder="bonjour" >
				</div>
			</div>

			<div class="col s10 ">

				<div class="col s4 offset-s2 align-center">
					<span class="flow-text">Mot de passe :</span>
				</div>
				<div class="col s6">
					<input type="password" name="password" >
				</div>
			</div>

			<div class="col s4 offset-s4">
				<input class="waves-effect waves-light btn" href="pageOrganisateur.html" value="S'identifier">
			</div>

		</div>
	</form>
</div>

</body>
</html>
