<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Organisateur</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styleListeMatch.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper deep-orange lighten-1">
            <img src="../pictures/logo_60px.png" class="brand-logo"/>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="Organisateur.html" class="waves-effect waves-light deep-orange darken-1 btn">Retour</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="mainBlock">
        <table class="z-depth-3" id="rectangle">
            <tr>
                <td><label class="label">Rapaël Nadal VS Andy Murray</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Gaël Monfils VS Roger Federer</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Serena Williams VS Garbiñe Muguruza</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Rebeka Masarova VS Amanda Anisimova</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Gordon Reid VS Gustavo Fernandez</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Rapaël Nadal VS Roger Federer</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Gordon Reid VS Gaël Monfils</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Amanda Anisimova VS Garbiñe Muguruza</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Rebeka Masarova VS Serena Williams</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label class="label">Andy Murray VS Gustavo Fernandez</label>
                <td><a class="waves-effect waves-light btn buttonModifier" href="./majMatchs.html">Modifier</a>
            </tr>
        </table>
    </div>
</body>
</html>