<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Organisateur</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styleListeMatch.css">
</head>
<body>

    <div class="container" id="mainBlock">
        <!-- Page Content goes here -->

        <table class="z-depth-3" id="rectangle">

            <tr>
                <td><label id="label">Rapaël Nadal VS Andy Murray</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Gaël Monfils VS Roger Federer</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Serena Williams VS Garbiñe Muguruza</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Rebeka Masarova VS Amanda Anisimova</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Gordon Reid VS Gustavo Fernandez</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Rapaël Nadal VS Roger Federer</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Gordon Reid VS Gaël Monfils</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Amanda Anisimova VS Garbiñe Muguruza</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Rebeka Masarova VS Serena Williams</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>
            <tr>
                <td><label id="label">Andy Murray VS Gustavo Fernandez</label>
                <td><a class="waves-effect waves-light btn" href="./majMatchs.html">Modifier</a>
            </tr>

        </table>

    </body>
</html>