<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Rolland Garros</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/addPages.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="../css/styleMajMatchs.css" media="screen" /> 
</head>
<body>
	<nav>
        <div class="nav-wrapper deep-orange lighten-1">
            <img src="../pictures/logo_60px.png" class="brand-logo"/>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="Organisateur.html" class="waves-effect waves-light deep-orange darken-1 btn">Retour</a>
                </li>
            </ul>
        </div>
    </nav>
	<div class="container">
		<div class="match-block t-simple-f">
			<h1 class="add_page_title">Court 3</h1>
			<div class="tournament-block">Simple dames</div>
			<div class="teams-block">
				<div class="team-block">
					<div>Equipe 1</div>
					<div class="players-block">
						<div>Serena Williams</div>
					</div>
				</div>
				<div class="vs-block">VS</div>
				<div class="team-block">
					<div>Equipe 2</div>
					<div class="players-block">
						<div>Amélie Mauresmo</div>
					</div>	
				</div>
			</div>
			<div class="arbitre-block">
				<div class="label">arbitre</div>
				<div class="value">Jean-Paul Dubois</div>
			</div>
			
	    </div class="container">
	    	<form class="col s12 add_page_form">
	    		<div class="row scores">
		    		<div class="col s6 score">
					    <div class="input-field">
							<input id="set-equipe-1" type="number" class="validate">
							<label for="set-equipe-1">Nombre de sets équipe 1</label>
					    </div>
				    </div>
					<div class="col s6 score">
					    <div class="input-field">
							<input id="set-equipe-2" type="number" class="validate">
							<label for="set-equipe-2">Nombre de sets équipe 2</label>
					    </div>
				    </div>
			    </div>
			    <div class="row scores">
				    <div class="col s4">
				    	<div class="input-field">
				    		<input id="date-tournoi" type="date" class="datepicker">
	  						<label for="date-tournoi">Date</label> 
				    	</div>
			    	</div>
			    	<div class="col s4">	    	
	  					<div class="input-field">
				    		<input id="horaire-tournoi" type="text">
	  						<label for="horaire-tournoi">Horaire (hh:mm)</label> 
				    	</div>
				    </div>
				    <div class="col s4">	    	
	  					<div class="input-field">
				    		<input id="duree-tournoi" type="text">
	  						<label for="duree-tournoi">Durée (hh:mm)</label> 
				    	</div>
				    </div>
			    </div>
			    <div class="row col s12">
					<div class="center-elem-form validate-btn">
						<a class="waves-effect waves-light btn" href="./Organisateur.html">Enregistrer</a>	
					</div>
				</div>
	    	</form>

		
		<div>
			
		</div>

		
	</div>
  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year
		    labelMonthNext: 'Mois suivant',
			labelMonthPrev: 'Mois précédent',
			labelMonthSelect: 'Sélectionner un mois',
			labelYearSelect: 'Sélectionner une année',
			monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
			monthsShort: [ 'Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun', 'Jui', 'Auo', 'Sep', 'Oct', 'Nov', 'Dec' ],
			weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
			weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],
			weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],
			today: 'Auj',
			clear: 'Effacer',
			close: 'Fermer'
		  });
	</script>
        
</body>
</html>