<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Organisateur</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../css/styleOrganisateur.css">
</head>
    <body>
    <nav>
        <div class="nav-wrapper deep-orange lighten-1">
            <img src="../pictures/logo_60px.png" class="brand-logo"/>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="../index.html" class="waves-effect waves-light deep-orange darken-1 btn">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="line">
            <div class="z-depth-3 cardTop left">
                <h4 class="center-align">Joueurs</h4>
                <div class="content-container">
                    <div class="btn-container">
                        <a class="waves-effect waves-light btn buttonAjouter" href="./add/addPlayer.html">Ajouter</a>
                        <a href="supp.html" class="waves-effect red lighten-1 btn buttonAjouter">Supprimer</a>
                    </div>
                </div>
            </div>
            <div class="z-depth-3 cardTop right">
                <h4 class="center-align">Matchs</h4>
                <div class="column-content">
                    <div class="content-container">
                        <div class="btn-container vertical">
                            <p>Match simple :</p>
                            <a class="waves-effect waves-light btn buttonMatch" href="PlanifierMatchSimple.html">Ajouter</a>
                            <a class="waves-effect red lighten-1 btn buttonMatch">Supprimer</a>
                        </div>
                    </div>
                    <div class="content-container">
                        <div class="btn-container vertical">
                            <p>Match double :</p>
                            <a class="waves-effect waves-light btn buttonMatch" href="PlanifierMatchDouble.html">Ajouter</a>
                            <a class="waves-effect red lighten-1 btn buttonMatch">Supprimer</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="center-align">Résultat matchs :</p>
                    <div class="center-elem-form">
                        <a class="waves-effect waves-light btn" href="ListeMatch.html">Ajouter résultat</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="line">
            <div class="z-depth-3 cardBottom left">
                <h4 class="center-align">Arbitre</h4>
                <div class="content-container">
                    <div class="btn-container">
                        <a class="waves-effect waves-light btn buttonAjouter" href="./add/addReferee.html">Ajouter</a>
                        <a href="supp.html" class="waves-effect red lighten-1 btn buttonAjouter">Supprimer</a>
                    </div>
                </div>
            </div>
            <div class="z-depth-3 cardBottom left">
                <h4 class="center-align">Court</h4>
                <div class="content-container">
                    <div class="btn-container">
                        <a class="waves-effect waves-light btn" href="./add/addTennisCourt.html">Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>